In [3]:
! pip install --user pyodbc

Collecting names
  Using cached names-0.3.0.tar.gz (789 kB)Collecting pyodbc
  Using cached pyodbc-4.0.35-cp310-cp310-win_amd64.whl (66 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.35

  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Using legacy 'setup.py install' for names, since package 'wheel' is not installed.
Installing collected packages: names
  Running setup.py install for names: started
  Running setup.py install for names: finished with status 'done'

WARNING: You are using pip version 22.0.3; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\negm\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.
WARNING: You are using pip version 22.0.3; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\negm\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Successfully installed names-0.3.0

In [2]:
! pip install --user names

^C

In [1]:
import pyodbc
# import names
# import random

In [2]:
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=.;"
            "Database=ITI_Exams;"
            "Trusted_Connection=yes;")

cnxn = pyodbc.connect(cnxn_str)

cursor = cnxn.cursor()

In [3]:
topics = {1: ['Inheritance', 'Polymorphisms', 'Abstraction', 'Dynamic Binding'],
          2: ['SQL Server', 'RDBMS', 'DB Normailzation', 'ERD'],
          3: ['CSS3', 'Semantic Elements', 'CSS Animation'],
          4: ['JS objects', 'JS Engine', 'Event Listeners'], 
          5: ['Process Management', 'File Management', 'Memory Management', 'Network Management']}

courses = ['C++',
           'Databases Fundamentals',
           'HTML5',
           'Javascript Fundamentals',
           'Operating Systems']

instructors = [
    'Ahmed Ali',
    'Wael Ali',
    'Rami Mohamed',
    'Hany Alaa',
    'Yasser Ali',
    'Marwa Ahmed',
    'Basma Ali',
    'Hadeer Ali',
    'Mariam Ibrahim',
    'Hagar Ali',
    'Mostafa Ali',
    'Nada Ali',
    'Samy Ali',
    'Rami Adel',
    'Ahmed Alaa',
    'Ahmed Safwat',
    'Mohamed Ahmed',
    'Basma Wael',
    'Ali Youssef',
    'Ibrahim Wael',
    'Hagar Ali',
]

students = [
    ['Hagar', 'Mostafa', 'F', 1],
    ['Sara', 'Mohamed', 'F', 1],
    ['Eman', 'Mohammed', 'F', 1],
    ['Bassant', 'Mahgoub', 'F', 1],
    ['Hafsa', 'Ebrahim', 'F', 1],
    ['Dina', 'Samir', 'F', 1],
    ['Khaled', 'Ayman', 'M', 1],
    ['Ahmed', 'Muhammed', 'M', 1],
    ['Ahmed', 'Negmeldin', 'M', 1],
    ['Raouf', 'Alaadin', 'M', 1],
    ['Karim', 'Eid', 'M', 1],
    ['Shrief', 'Hesham', 'M', 1],
    ['Abdallah', 'Mohamed', 'M', 1],
    ['Mina', 'Yossry', 'M', 1],
    ['Hossam', 'Mahmoud', 'M', 1],
    ['Maged', 'Samir', 'M', 1],
    ['Mohaned', 'Saudi', 'M', 1],
    ['Asmaa', 'Mohamed', 'F', 2],
    ['Zeinab', 'Mahmoud', 'F', 2],
    ['Shahenda', 'Hamdy', 'F', 2],
    ['Heba', 'Allah', 'F', 2],
    ['Maha', 'Yehia', 'F', 2],
    ['Mohamed', 'Refaat', 'M', 2],
    ['Youssef', 'Ehab', 'M', 2],
    ['Omar', 'Mosaad', 'M', 2],
    ['Amr', 'Sherif', 'M', 2],
    ['Khaled', 'Magdy', 'M', 2],
    ['Mahmoud', 'Sherif', 'M', 2],
    ['Mohamed', 'Abdelfattah', 'M', 2],
    ['Hesham', 'Essam', 'M', 2],
    ['Ahmed', 'Taha', 'M', 2],
    ['Ahmed', 'Mohamed', 'M', 2],
    ['Mahmoud', 'Hossam', 'M', 2],
    ['Mohammed', 'Ahmed', 'M', 2],
]

departments = ['SWA', 'PD']

In [32]:
for department in departments:
    cursor.execute(f"""INSERT INTO Department (name)
                       VALUES
                       ('{department}');""")

In [33]:
departmentsLen = len(departments)

for i, instructor in enumerate(instructors):
    cursor.execute(f"""INSERT INTO Instructor
                       VALUES
                       ('{instructor}', {(i%departmentsLen)+1});""")

In [4]:
for i in range(len(departments)):
    cursor.execute(f"""INSERT INTO Department_Manager
                       VALUES
                       ({i+1}, {i+1});""")

In [34]:
for course in courses:
    cursor.execute(f"""INSERT INTO Course
                       VALUES
                       ('{course}');""")

In [35]:
for k, v in topics.items():
    for topic in v:
        cursor.execute(f"""INSERT INTO Topic
                        VALUES
                        ('{topic}', '{k}');""")

In [ ]:
# for i in range (10):
#     cursor.execute(f"""INSERT INTO Instructor
#                        (Name)
#                        VALUES
#                        ('{names.get_full_name()}');""")

In [ ]:
# for topic in topics:
#     cursor.execute(f"""INSERT INTO Topic
#                        (Name)
#                        VALUES
#                        ('{topic}');""")

In [ ]:
# for course, topic in courses.items():
#     cursor.execute(f"""INSERT INTO Course
#                        (Name, Topic_ID)
#                        VALUES
#                        ('{course}', '{topic}');""")

In [10]:
coursesLen = len(courses)

for i in range(len(instructors)):
    cursor.execute(f"""INSERT INTO Course_Instructor
                       (Course_ID, Instructor_ID)
                       VALUES
                       ('{(i%coursesLen)+1}', '{i+1}');""")

In [13]:
for i in students:
    cursor.execute(f"""INSERT INTO Student
                       (FName, LName, Gender, Department_ID)
                       VALUES
                       ('{i[0]}', '{i[1]}', '{i[2]}', {i[3]});""")

In [16]:
for i in range(len(students)):
    cursor.execute(f"""INSERT INTO Student_Course
                       VALUES
                       ({i+1}, {1}),
                       ({i+1}, {2}),
                       ({i+1}, {3}),
                       ({i+1}, {4}),
                       ({i+1}, {5});""")

In [5]:
cnxn.commit()